/* ------- entries ---------- */

.entry-header {
	background:none;
	font:bold 2.4em/1.2 'Rokkitt', sans-serif;
	text-shadow:0px 0px 12px #000;
	padding:0 8px;
	color:#fff;
}
#entry-collection {
	border:1px solid #aaa;
	overflow:auto;
}
.entry-node {
	background:;
	border:1px solid #ccc;
	padding:2px;
	height:56px;
}
.entry-node:hover {
	background:#ddd;
}
.entry-node .author {
	font-weight:bold;
}
.entry-node .subject {
	font-weight:bold;
}
.entry-type-image {
	height: 56px;
	width: 56px;
	background: gray;
	float: left;
	margin-right: 8px;
}