/* --- graph.less --- */

.graph {
	float: left;
	height: 25%;
	width: 25%;
	border-radius: 256px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font: bold 3em/2.9 'Rokkitt', Arial, sans-serif;
	text-shadow: 0px 0px 8px black;
	color: white;
}

.graph.orange { background:#EC992E; }
.graph.blue { background:#3C35D8; }
.graph.red { background:#D83535; }
.graph.green { background:#D83535; }
.graph.yellow { background:#DAD100; }