/* --- graph.less --- */


ul#user-graph-container {
	list-style:none;
}
ul#user-graph-container li { }
ul#user-graph-container li .graph-cat { }
ul#user-graph-container li .graph { }

.graph-title {
	font:bold 2em "Rokkitt", Arial, sans-serif;
	text-align:center;
	margin-top:0;
}

.graph-cat {
	font:bold 1.3em 'Rokkitt', Arial, sans-serif;
	float:left;
	width:88px;
}
.graph-bar {
	float:left;
	width:80%;
}

.graph-data {
	clear:both;
	display: block;
	height:24px;
	text-align: right;
	padding-right:2px;
	vertical-align: middle;
	font: bold 1.8em/1.1 'Rokkitt', Arial, sans-serif;
	text-shadow: 0px 0px 8px black;
	color: white;
	margin-bottom:6px;
}

.graph-data.orange { background:#EC992E; }
.graph-data.blue { background:#3C35D8; }
.graph-data.red { background:#D83535; }
.graph-data.green { background:#D83535; }
.graph-data.yellow { background:#DAD100; }