.service-head {
	background: #CCC;
	font: bold 1.3em/2.0 "Rokkitt", Arial, sans-serif;
	padding: 0 8px;
}


/* ------ statistics ------ */
.statistics {
	margin:6px;
	border-bottom:8px solid #ccc;
}
ul.stat-list {
	list-style: none;
	margin:4px;
}
ul.stat-list li {
	padding:4px;
	margin-bottom:4px;
	font:normal 0.9em/1.2 Arial, sans-serif;
	display:inline-block;
}

ul.stat-list li div.circle {
	background: #aaa;
	width: 42px;
	height: 42px;
	border-radius: 42px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color:#fff;
}
ul.stat-list li div.menu-item {
	line-height: 44px;
	float: left;
	margin-left: 8px;
}
ul.stat-list li:first-child {
	border-top:none;
}



/* --------- facebook ----------- */

ul#fbLikes {
	list-style:none;
	margin:0;
	padding:0;
}

ul#fbLikes li {
	display:inline-block;
}
ul#fbLikes li p{
	display:none;
}
ul#fbLikes li img {
	width:53px;
}

span.like-name {
	font:bold 1em Arial, sans-serif;
	display:block;
}
span.like-category {
	font:normal 0.9em Arial, sans-serif;
}



/* ---------- github ------------ */