/* styles.less */

@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";
@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700);
@import "dependencies.less";
@import "teammembers.less";

html {
	height:100%;
	/*overflow:hidden;*/
	background: no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
	height:100%;
	background:url('../img/bg/bg.jpg') fixed !important;
}

#main {
	padding-bottom:64px;
}

::-webkit-scrollbar {
  background-color: #eee;
  cursor: pointer;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-corner  {
  background-color: transparent;
}

@import "header.less";

/* ------ */

@import "usercard.less";
@import "graph.less";
@import "entries.less";
@import "gallery.less";
@import "navigation.less";
@import "box.less";
@import "misc.less";