.user-card {
	.card;
}

#userInfo {
	clear: both;
}
#userContent {
	margin-top:32px;
}

div.user-image {
	overflow: hidden;
	max-height: 180px;
	border-radius: 8px;
}

img.user-image {
	.rounded-corners(10px);
	.box-shadow(0 0 8px, 50%);
	float:left;
	position:relative;
	top:4px;
	left:-10px;
}
img.logo {
	position: relative;
	top: 12px;
}
.user-info {
	clear:both;
	height:128px;
	padding:16px 0 0 16px;
}
.user-name {
	float:left;
	width:55%;
	padding:4px 0 0 16px;
}

.user-name h1 {
	font:bold 2.5em/0.9 'Rokkitt', Arial, sans-serif;
	margin-bottom:0;
}
.user-name h2 {
	font:normal 1.2em/1.2 'Rokkitt', sans-serif;
	margin:0;
}

hr.user-divider {
	margin-top:0;
	margin-bottom:8px;
}

#user-status {
	min-height: 124px;
	padding:12px;
}
/* ----- css sprites ---- */
#sprite_stash {
	background:url('../img/sprite_stash.png');
	background-position: 0px 0px;
	height:20px;
	width:130px;
	cursor:pointer;
}
#sprite_stash.checked {
	background-position:0 20px;
}

#sprite_ping {
	background:url('../img/sprite_ping.png');
	background-position: 0px 0px;
	height:20px;
	width:130px;
	cursor:pointer;
}
#sprite_ping.checked {
	background-position:0 20px;
}
.login-div {
	text-align: center;
	width: 100%;
	height: 100%;
	display: block;
	line-height: 158px;
}