<footer class="container">
  <div class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/" data-href style="margin-left:8px">gitLoved</a>
          <ul class="nav pull-right">
            <% if (!user) { %>
            <li class="active"><a href="/" data-href>Home</a></li>
            <% } %>
            <li><a href="/about" data-href>About Us</a></li>
            <li><a href="/terms" data-href>Terms &amp; Conditions</a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>
