
<iframe id="voteNKO" src="http://nodeknockout.com/iframe/plus-team" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>

    <header class="container">
        <div class="navbar navbar-inverse">
          <div class="navbar-inner" style="min-height:72px">
            <a class="pull-left" href="/" data-href><img src="img/logo-sm.png" class="logo hidden-phone" /></a>
            <% if (!user) { %>
            <a class="btn-primary btn pull-right" href="/facebook/new" style="margin-top:22px">Login with Facebook</a>
            <% } else { %>
            <a href="/logout/" class="btn btn-primary pull-right" style="margin-top:22px;">logout</a>
            <% } %>
          </div>
        </div>
    </header>