<!DOCTYPE html>

<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet/less" type="text/css" href="css/styles.less">
  </head>
  <body>
    <div id="main"></div>
  </body>
  <% include views %>
  <% include scripts %>
</html>