<!DOCTYPE html>

<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/css/styles.css"></link>
  </head>
  <body>
    <h1>Hello World!</h1>
    <div id="main"></div>
  </body>
  <% include views %>
  <% include scripts %>
</html>
