<!DOCTYPE html>

<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet/less" type="text/css" href="css/styles.less">
  </head>
  <body>

    <% include header %>

    <div id="main"></div>
    
    <% include footer %>
  </body>
  <% include views %>
  <% include scripts %>
</html>
