<script type="type/ejs" id="templateAboutUs">


	<div class="row">
		<div class="span10 offset1">
			<div>
				<h1>About GitLoved</h1>
				<p>GitLoved is an easy-to-use social platform that provides users with a rank on their github activity, as well as tie their social media presence to express a vibrant perception of activities in relation to open source. This was constructed proudly during the Node.js Knockout Hackathon.</p>
			</div>
			<hr />
		  <h2 style="text-align:center">About Team Plus</h2>
				<div class="container=fluid">
					<div class="row-fluid">
						<div class="span4">
							<div class="team-member">
								<img src="https://lh4.googleusercontent.com/-6LBE-Jve_ls/AAAAAAAAAAI/AAAAAAABE5o/KxvQpXsLYFs/s250-c-k/photo.jpg" />
								<div class="team-member-info">
									<h3>Abraham Williams</h3>
									<ul>
										<li><a target="_blank" href="http://www.facebook.com/abrahamwilliams">Facebook</a></li>
										<li><a target="_blank" href="http://twitter.com/abraham">Twitter</a></li>
										<li><a target="_blank" href="https://plus.google.com/114233674199568482864/">Google+</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="span4">
							<div class="team-member">
								<img src="https://lh3.googleusercontent.com/-fl5KJSPIXNw/AAAAAAAAAAI/AAAAAAAAOf4/nPncahrVlus/s250-c-k/photo.jpg" />
								<div class="team-member-info">
									<h3>Mohamed Mansour</h3>
									<ul>
										<li><a target="_blank" href="http://www.facebook.com/mohamedmansour">Facebook</a></li>
										<li><a target="_blank" href="http://twitter.com/mohamedmansour">Twitter</a></li>
										<li><a target="_blank" href="https://plus.google.com/+MohamedMansour/">Google+</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="span4">
							<div class="team-member">
								<img src="https://lh5.googleusercontent.com/-7a1u2avYSns/AAAAAAAAAAI/AAAAAAAAJ_w/eUsh6SZm1Hs/s250-c-k/photo.jpg" />
								<div class="team-member-info">
									<h3>Rayan Bouajram</h3>
									<ul>
										<li><a target="_blank" href="http://www.facebook.com/rayan.bouajram">Facebook</a></li>
										<li><a target="_blank" href="https://plus.google.com/109432498811971933342/">Google+</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
</script>
