<script type="type/ejs" id="templateHome">

    <header class="container">
        <div class="navbar navbar-inverse">
          <div class="navbar-inner" style="min-height: 72px;">
          <a class="btn-primary btn pull-right" href="/facebook/new">Login with Facebook</a>
          <a class="pull-left" href="/"><img src="img/logo-sm.png" class="logo" /></a>
          </div>
        </div>
    </header>

    <div class="container">
      <div class="hero-unit">
        <h1 class="font">Find geeks with personality</h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span3">
          <div class="box">
            <div class="box-head">
              <h1>Find Friends</h1>
            </div>
            <div class="box-body">
              <div class="entry-node">
              </div>
              <div class="entry-node">
              </div>
              <div class="entry-node">
              </div>
              <div class="entry-node">
              </div>
            </div>
          </div>
        </div>
        <div class="span3">
          <div class="box">
            <div class="box-head">
              <h1>Frustrated Users</h1>
            </div>
            <div class="box-body">
              <div class="entry-node">
              </div>
              <div class="entry-node">
              </div>
              <div class="entry-node">
              </div>
              <div class="entry-node">
              </div>
            </div>
          </div>
        </div>
        <div class="span3">
          <div class="box">
            <div class="box-head">
              <h1>Love Cupids</h1>
            </div>
            <div class="box-body">
              <div class="entry-node">
              </div>
              <div class="entry-node">
              </div>
              <div class="entry-node">
              </div>
              <div class="entry-node">
              </div>
            </div>
          </div>
        </div>
        <div class="span3">
          <div class="box">
            <div class="box-head">
              <h1>Well Roundedness</h1>
            </div>
            <div class="box-body">
              <div class="entry-node">
              </div>
              <div class="entry-node">
              </div>
              <div class="entry-node">
              </div>
              <div class="entry-node">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</script>
