<script type="type/ejs" id="templateHome">

    <div class="container">
      <div class="hero-unit">
        <img src="/img/homebrain.png" class="pull-right" />
        <h1 class="font">Find geeks with personality</h1>
        <h2 class="font">Learn how you rank when smarts meet social!  Create a free profile by logging into <span style="color:green">Facebook</span> and <span style="color:orange">GitHub</span></h2>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span3">
          <div class="box">
            <div class="box-head">
              <h1>Find Friends</h1>
            </div>
            <div class="box-body">
              <div class="entry-node">
              </div>
              <div class="entry-node">
              </div>
              <div class="entry-node">
              </div>
              <div class="entry-node">
              </div>
            </div>
          </div>
        </div>
        <div class="span3">
          <div class="box">
            <div class="box-head">
              <h1>Frustrated Users</h1>
            </div>
            <div class="box-body">
              <div class="entry-node">
              </div>
              <div class="entry-node">
              </div>
              <div class="entry-node">
              </div>
              <div class="entry-node">
              </div>
            </div>
          </div>
        </div>
        <div class="span3">
          <div class="box">
            <div class="box-head">
              <h1>Love Cupids</h1>
            </div>
            <div class="box-body">
              <div class="entry-node">
              </div>
              <div class="entry-node">
              </div>
              <div class="entry-node">
              </div>
              <div class="entry-node">
              </div>
            </div>
          </div>
        </div>
        <div class="span3">
          <div class="box">
            <div class="box-head">
              <h1>Well Roundedness</h1>
            </div>
            <div class="box-body">
              <div class="entry-node">
              </div>
              <div class="entry-node">
              </div>
              <div class="entry-node">
              </div>
              <div class="entry-node">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</script>
