<script type="type/ejs" id="templateHome">

    <header class="container">
        <div class="navbar navbar-inverse">
          <div class="navbar-inner" style="min-height: 72px;">
          <a class="btn-primary btn pull-right" href="/github/new">Login with GitHub</a>
          <a class="pull-left" href="#"><img src="img/logo-sm.png" class="logo" /></a>
          </div>
        </div>
    </header>

    <div class="container">

		<h1>Find your exact match!</h1>
		<a href="/github/new">Login with GitHub</a>

	</div>

</script>
