<script type="type/ejs" id="templateGithub">

<% if (!githubConnected) { %>
        <div class="user-content dark">
          <div class="login-div">
            <a class="btn btn-large btn-primary" href="/github/new">Click to connect to GitHub</a>
          </div>
        </div>
<% } else { %>

          <div class="user-content">
              <div class="service">

                  <div class="service-head">
                      Powered by GitHub
                  </div>
                  <div class="service-body">

                      <div class="statistics">
                          <ul class="stat-list">
                              <li>
                                  <a href="#">
                                      <div class="pull-left">
                                          <div class="circle"><@=initial.public_gists@></div>
                                      </div>
                                      <div class="menu-item">Gists</div>
                                      <div class="clearfix"></div>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <div class="pull-left">
                                          <div class="circle"><@=initial.public_repos@></div>
                                      </div>
                                      <div class="menu-item">Repos</div>
                                      <div class="clearfix"></div>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <div class="pull-left">
                                          <div class="circle"><@=stats.pushCount@></div>
                                      </div>
                                      <div class="menu-item">Pushes</div>
                                      <div class="clearfix"></div>
                                  </a>
                              </li>

                              <li>
                                  <a href="#">
                                      <div class="pull-left">
                                          <div class="circle"><@=stats.watchCount@></div>
                                      </div>
                                      <div class="menu-item">Watches</div>
                                      <div class="clearfix"></div>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <div class="pull-left">
                                          <div class="circle"><@=stats.followCount@></div>
                                      </div>
                                      <div class="menu-item">Followers</div>
                                      <div class="clearfix"></div>
                                  </a>
                              </li>
</ul>
                      </div>
                      <div class="entry-collection">
                          <div class="entry-node">
                              <div class="entry-type-image"></div>
                              <div class="entry-content">
                                  <span class="author">Rayan Bouajram</span> likes <span class="subject">Joyent</span>
                              </div>
                          </div>
                          <div class="entry-node">
                              <div class="entry-type-image"></div>
                              <div class="entry-content">
                                  content feed
                              </div>

                          </div>
                          <div class="entry-node">
                              <div class="entry-type-image"></div>
                              <div class="entry-content">
                                  content feed
                              </div>
                          </div>
                          <div class="entry-node">
                              <div class="entry-type-image"></div>
                              <div class="entry-content">
                                  content feed
                              </div>
                          </div>
                          <div class="entry-node">
                              <div class="entry-type-image"></div>
                              <div class="entry-content">
                                  content feed
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
<% } %>

</script>
