<script type="type/ejs" id="templateFacebook">

<div class="user-content">
  <div class="service">
    <div class="service-head">
      Powered by Facebook
    </div>
    <div class="service-body">
      <div class="entry-collection">
        <ul>
<@ _.each (data, function(like) { @>
        <li>
          <img src="http://graph.facebook.com/<@=like.id@>/picture" alt="<@like.category@>" />
          <p><span class="like-name"><@=like.name@></span><span
          class="like-category"><@=like.category@></span></p<
        </li>
<@ }); @>
        </ul>
      </div>
    </div>
  </div>
</div>

</script>
