<script type="type/ejs" id="templateFacebook">

<div class="user-content">
  <div class="service">
    <div class="service-head">
      Powered by Facebook
    </div>
    <div class="service-body">
      <div class="entry-collection">
        <ul id="fbLikes">
<@ _.each (data, function(like) { @>
        <li>
          <img src="http://graph.facebook.com/<@=like.id@>/picture" data-html="true" data-title='<span class="like-name"><@-like.name@></span><span
          class="like-category"><@=like.category@></span>' />
        </li>
<@ }); @>
        </ul>
      </div>
    </div>
  </div>
</div>



</script>
