<script type="type/ejs" id="templateFacebook">

<div class="user-content">

                    <div class="service">

                        <div class="service-head">
                            Powered by Facebook
                        </div>
                        <div class="service-body">

                        <div id="entry-collection">
                            <div class="entry-node">
                                <div class="entry-type-image"></div>
                                <div class="entry-content">
                                    <span class="author">Rayan Bouajram</span> likes <span class="subject">Joyent</span>
                                </div>
                            </div>
                            <div class="entry-node">
                                <div class="entry-type-image"></div>
                                <div class="entry-content">
                                    content feed
                                </div>

                            </div>
                            <div class="entry-node">
                                <div class="entry-type-image"></div>
                                <div class="entry-content">
                                    content feed
                                </div>
                            </div>
                            <div class="entry-node">
                                <div class="entry-type-image"></div>
                                <div class="entry-content">
                                    content feed
                                </div>
                            </div>
                            <div class="entry-node">
                                <div class="entry-type-image"></div>
                                <div class="entry-content">
                                    content feed
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

</script>