<script type="type/ejs" id="templateInstagram">

<% if (!instagramConnected) { %>
                <div class="user-content dark">
                    <div class="login-div">
                        <a class="btn btn-large btn-primary" href="/instagram/new">Click to connect to Instagram
                        </a>
                    </div>
                </div>
<% } else { %>
                <div class="user-content">
                    <div class="service">

                        <div class="service-head">
                            Powered by Instagram
                        </div>
                        <div class="service-body">

                        <div class="gallery-collection">
      <@ _.each(data, function(img) { @>
      <div class="gallery-node">
                                <div class="gallery-type-image"><img
                                src="<@=img.images.low_resolution @>" /></div>
                                <div class="gallery-content">
                                  <@=img.caption.text@>
                                </div>
                            </div>
   <@ }); @>
                        </div>
                    </div>
                </div>

<% } %>

</script>
