<script type="type/ejs" id="templateProfile">

<% if(false) { %>
    <div class="navigation hidden-phone">
        <div class="navigation-left">
        </div>
        <div class="navigation-right">
        </div>
    </div>
<% } %>

    	<div class="row" id="userInfo">
    		<div class="span12">

                <div class="container">
	                <div class="row-fluid">
	                	<div class="span6">
                            <div id="profileUserCard"></div>
			            </div>

			            <div class="span6">
                            <div id="profileUserStatus"></div>
		                </div>
                    </div>
                </div>


                <div class="container">
                    <div class="row" id="userContent">
                        <div class="span6">
                            <div class="entry-header">
                                left brain
                            </div>
                            <div id="githubMod"></div>
                        </div>

                        <div class="span6">
                            <div class="entry-header">
                                <div class="pull-right">
                                    right brain
                                </div>
                            </div>

                            <div id="facebookMod"></div>
                            <div id="instagramMod"></div>
                        </div>
                    </div>
                </div>


	        </div>
    	</div>

</script>
