<script type="type/ejs" id="templateUserStatus">

    <div id="user-status">
        <h2 class="graph-title">Your Personality Score</h2>
        <ul id="user-graph-container">
            <li>
                <div class="graph-cat">Geekyness</div>
                <div class="graph-bar">
                    <div class="graph-data orange" style="width:<@= geek @>%"><@= geek @>%</div>
                </div>
            </li>
            <li>
                <div class="graph-cat">Creativity</div>
                <div class="graph-bar">
                    <div class="graph-data blue" style="width:<@= creative @>%"><@= creative @>%</div>
                </div>
            </li>
            <li>
                <div class="graph-cat">Social</div>
                <div class="graph-bar">
                    <div class="graph-data green" style="width:<@= social @>%"><@= social @>%</div>
                </div>
            </li>
        </ul>
    </div>
</script>