<script type="type/ejs" id="templateProfile">

    <header class="container">
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <a class="pull-right" href="#"><img src="img/logo-sm.png" class="logo hidden-phone" /></a>
            <!-- <a class="pull-left" href="#"><img src="img/me_64.jpg" class="user-image" \></a> -->
            <ul class="nav">
                <li class="menu-item active"><a href="#">Home</a></li>
                <li class="menu-item"><a href="#">love'd <span class="badge">5</span></a></li>
                <li class="menu-item"><a href="#">pull'd <span class="badge">53</span></a></li>
                <li class="menu-item"><a href="#">push'd <span class="badge">201</span></a></li>
            </ul>
            <form class="navbar-form pull-left">
              <input type="text" class="span2">
              <button type="submit" class="btn-primary btn">Submit</button>
            </form>
            <a href="/logout/" class="btn">logout</a>
          </div>
        </div>
    </header>

    <div class="navigation hidden-phone">
        <div class="navigation-left">
            
        </div>
        <div class="navigation-right">

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="user-card">
                    <div class="user-image pull-left">
                        <img src="img/me_128.jpg" />
                    </div>
                    <div class="user-info">
                        <h1>Rayan Bouajram</h1>
                        <hr style="margin-bottom:8px" />
                        <div id="sprite_stash" class=""></div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="statistics">
                        <ul class="stat-list">
                            <li>2 Repos</li>
                            <li>98 Commits</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="span8">
                    <div class="entry-header">
                        Activity
                    </div>
                <div class="user-content">
                    <div id="entry-collection">
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                <span class="author">Rayan Bouajram</span> likes <span class="subject">Joyent</span>
                            </div>
                        </div>
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                content feed
                            </div>

                        </div>
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                content feed
                            </div>
                        </div>
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                content feed
                            </div>
                        </div>
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                content feed
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</script>