<script type="type/ejs" id="templateProfile">

    <header class="container">
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <a class="pull-left" href="/"><img src="img/logo-sm.png" class="logo hidden-phone" /></a>
            <ul class="nav">
                <li class="menu-item active"><a href="#">Home</a></li>
                <li class="menu-item"><a href="#">fork'd <span class="badge">5</span></a></li>
                <li class="menu-item"><a href="#">pull'd <span class="badge">53</span></a></li>
                <li class="menu-item"><a href="#">push'd <span class="badge">201</span></a></li>
            </ul>
            <form class="navbar-form pull-left">
              <input type="text" class="span2">
              <!-- <button type="submit" class="btn-primary btn">Submit</button> -->
              <a href="/searchUsers" class="btn">Search Users</a>
            </form>
            <a href="/logout/" class="pull-right">logout</a>
          </div>
        </div>
    </header>

    <div class="navigation hidden-phone">
        <div class="navigation-left">
            
        </div>
        <div class="navigation-right">

        </div>
    </div>

    <div class="container">
    	<div class="row">
    		<div class="span12">
	    		<div class="user-card">
	                <div class="container">
		                <div class="row-fluid">
		                	<div class="span6">
		                		<div class="user-info">
					                <div class="user-image pull-left">
					                    <img src="img/me_128.jpg" class="img-rounded"/>
					                </div>
					                <div class="user-name">
					                    <h1>Rayan Bouajram</h1>
					                    <hr class="user-divider" />
					                    <div id="sprite_stash" class=""></div>
					                    <div id="sprite_ping" class=""></div>
					                </div>
					            </div>
				            </div>
				            <div class="span6">
				                <div class="user-status">
				                    <div class="graph orange">92%</div>
				                    <div class="graph blue">69%</div>
				                    <div class="graph green">72%</div>
				                    <div class="graph yellow">98%</div>
				                </div>
			                </div>
			            </div>
		            </div>
	                
	            </div>
	        </div>

    	</div>
        <div class="row">
            <div class="span6">
				<div class="entry-header">
                    left brain
                </div>


                <div class="user-content dark">
                	<div class="login-div">
	                	<a class="btn btn-large btn-primary" href="/github/new">Click to connect to GitHub
	                	</a>
	                </div>
                </div>


				<div class="user-content">
	                <div class="statistics">
	                    <ul class="stat-list">
	                        <li>
	                        	<a href="#">
	                            	<div class="pull-left">
	                            		<div class="circle">109</div>
	                            	</div>
	                            	<div class="menu-item">Commits</div>
	                            	<div class="clearfix"></div>
	                            </a>
	                        </li>
	                        <li>
	                        	<a href="#">
	                            	<div class="pull-left">
	                            		<div class="circle">2</div>
	                            	</div>
	                            	<div class="menu-item">Repos</div>
	                            	<div class="clearfix"></div>
	                        	</a>
	                        </li>
	                    </ul>
	                </div>
                    <div id="entry-collection">
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                <span class="author">Rayan Bouajram</span> likes <span class="subject">Joyent</span>
                            </div>
                        </div>
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                content feed
                            </div>

                        </div>
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                content feed
                            </div>
                        </div>
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                content feed
                            </div>
                        </div>
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                content feed
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="span6">
                    <div class="entry-header">
                        right brain
                    </div>
                <div class="user-content">
                    <div id="entry-collection">
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                <span class="author">Rayan Bouajram</span> likes <span class="subject">Joyent</span>
                            </div>
                        </div>
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                content feed
                            </div>

                        </div>
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                content feed
                            </div>
                        </div>
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                content feed
                            </div>
                        </div>
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                content feed
                            </div>
                        </div>
                    </div>
                </div>



                <div class="user-content">
                    <div id="gallery-collection">
                        <div class="gallery-node">
                            <div class="gallery-type-image"></div>
                            <div class="gallery-content">
                                <span class="author">Rayan Bouajram</span> likes <span class="subject">Joyent</span>
                            </div>
                        </div>
                        <div class="gallery-node">
                            <div class="gallery-type-image"></div>
                            <div class="gallery-content">
                                content feed
                            </div>

                        </div>
                        <div class="gallery-node">
                            <div class="gallery-type-image"></div>
                            <div class="gallery-content">
                                content feed
                            </div>
                        </div>
                        <div class="gallery-node">
                            <div class="gallery-type-image"></div>
                            <div class="gallery-content">
                                content feed
                            </div>
                        </div>
                        <div class="gallery-node">
                            <div class="gallery-type-image"></div>
                            <div class="gallery-content">
                                content feed
                            </div>
                        </div>
                    </div>
                </div>




                <div class="user-content dark">
                	<div class="login-div">
	                	<a class="btn btn-large btn-primary" href="/instagram/new">Click to connect to Instagram
	                	</a>
	                </div>
                </div>

                <div class="user-content dark">
                	<div class="login-div">
	                	<a class="btn btn-large btn-primary" href="/facebook/new">Click to connect to Facebook
	                	</a>
	                </div>
                </div>

            </div>

        </div>
    </div>

</script>