<script type="type/ejs" id="templateUserStatus">

    <div id="user-status">
        <h2 class="graph-title">Your Personality Score</h2>
        <ul id="user-graph-container">
            <li>
                <div class="graph-cat">Geekyness</div>
                <div class="graph-bar">
                    <div class="graph-data orange" style="width:92%">92%</div>
                </div>
            </li>
            <li>
                <div class="graph-cat">Creativity</div>
                <div class="graph-bar">
                    <div class="graph-data blue" style="width:61%">61%</div>
                </div>
            </li>
            <li>
                <div class="graph-cat">Social</div>
                <div class="graph-bar">
                    <div class="graph-data green" style="width:38%">38%</div>
                </div>
            </li>
        </ul>
    </div>
