<script type="type/ejs" id="templateSearchUsers">

    <header class="container">
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <a class="pull-right" href="#"><img src="img/logo-sm.png" class="logo hidden-phone" /></a>
            <!-- <a class="pull-left" href="#"><img src="img/me_64.jpg" class="user-image" \></a> -->
            <ul class="nav">
                <li class="menu-item active"><a href="#">Home</a></li>
                <li class="menu-item"><a href="#">fork'd <span class="badge">5</span></a></li>
                <li class="menu-item"><a href="#">pull'd <span class="badge">53</span></a></li>
                <li class="menu-item"><a href="#">push'd <span class="badge">201</span></a></li>
            </ul>
            <form class="navbar-form pull-left">
              <input type="text" class="span2">
              <button type="submit" class="btn-primary btn">Submit</button>
            </form>
            <a href="/logout/" class="btn">logout</a>
          </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="span3">
				<div class="entry-header">
                    filter
                </div>


                <div class="user-content dark">
                	<div class="login-div">
	                	<a class="btn btn-large btn-primary">Click to connect to GitHub
	                	</a>
	                </div>
                </div>


				<div class="user-content">
	                <div class="statistics">
	                    <ul class="stat-list">
	                        <li>
	                        	<a href="#">
	                            	<div class="pull-left">
	                            		<div class="circle">109</div>
	                            	</div>
	                            	<div class="menu-item">Commits</div>
	                            	<div class="clearfix"></div>
	                            </a>
	                        </li>
	                        <li>
	                        	<a href="#">
	                            	<div class="pull-left">
	                            		<div class="circle">2</div>
	                            	</div>
	                            	<div class="menu-item">Repos</div>
	                            	<div class="clearfix"></div>
	                        	</a>
	                        </li>
	                    </ul>
	                </div>
                    <div id="entry-collection">
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                <span class="author">Rayan Bouajram</span> likes <span class="subject">Joyent</span>
                            </div>
                        </div>
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                content feed
                            </div>

                        </div>
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                content feed
                            </div>
                        </div>
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                content feed
                            </div>
                        </div>
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                content feed
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="span9">
                    <div class="entry-header">
                        search results for: development
                    </div>
                <div class="user-content">
                    <div id="entry-collection">
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                <span class="author">Rayan Bouajram</span> likes <span class="subject">Joyent</span>
                            </div>
                        </div>
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                content feed
                            </div>

                        </div>
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                content feed
                            </div>
                        </div>
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                content feed
                            </div>
                        </div>
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                content feed
                            </div>
                        </div>
                    </div>
                </div>



                <div class="user-content">
                    <div id="gallery-collection">
                        <div class="gallery-node">
                            <div class="gallery-type-image"></div>
                            <div class="gallery-content">
                                <span class="author">Rayan Bouajram</span> likes <span class="subject">Joyent</span>
                            </div>
                        </div>
                        <div class="gallery-node">
                            <div class="gallery-type-image"></div>
                            <div class="gallery-content">
                                content feed
                            </div>

                        </div>
                        <div class="gallery-node">
                            <div class="gallery-type-image"></div>
                            <div class="gallery-content">
                                content feed
                            </div>
                        </div>
                        <div class="gallery-node">
                            <div class="gallery-type-image"></div>
                            <div class="gallery-content">
                                content feed
                            </div>
                        </div>
                        <div class="gallery-node">
                            <div class="gallery-type-image"></div>
                            <div class="gallery-content">
                                content feed
                            </div>
                        </div>
                        <div class="gallery-node">
                            <div class="gallery-type-image"></div>
                            <div class="gallery-content">
                                <span class="author">Rayan Bouajram</span> likes <span class="subject">Joyent</span>
                            </div>
                        </div>
                        <div class="gallery-node">
                            <div class="gallery-type-image"></div>
                            <div class="gallery-content">
                                content feed
                            </div>

                        </div>
                        <div class="gallery-node">
                            <div class="gallery-type-image"></div>
                            <div class="gallery-content">
                                content feed
                            </div>
                        </div>
                        <div class="gallery-node">
                            <div class="gallery-type-image"></div>
                            <div class="gallery-content">
                                <span class="author">Rayan Bouajram</span> likes <span class="subject">Joyent</span>
                            </div>
                        </div>
                        <div class="gallery-node">
                            <div class="gallery-type-image"></div>
                            <div class="gallery-content">
                                content feed
                            </div>

                        </div>
                        <div class="gallery-node">
                            <div class="gallery-type-image"></div>
                            <div class="gallery-content">
                                content feed
                            </div>
                        </div>
                        <div class="gallery-node">
                            <div class="gallery-type-image"></div>
                            <div class="gallery-content">
                                content feed
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>



</script>
