<script type="type/ejs" id="templateSearchUsers">

    <div class="container">
        <div class="row">
            <div class="span3">
				<div class="entry-header">
                    filter
                </div>

				<div class="user-content">
	                <div class="statistics">
	                    <ul class="stat-list">
	                        <li>
	                        	<a href="#">
	                            	<div class="pull-left">
	                            		<div class="circle">109</div>
	                            	</div>
	                            	<div class="menu-item">Commits</div>
	                            	<div class="clearfix"></div>
	                            </a>
	                        </li>
	                        <li>
	                        	<a href="#">
	                            	<div class="pull-left">
	                            		<div class="circle">2</div>
	                            	</div>
	                            	<div class="menu-item">Repos</div>
	                            	<div class="clearfix"></div>
	                        	</a>
	                        </li>
	                    </ul>
	                </div>
                    <div class="entry-collection">
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                <span class="author">Rayan Bouajram</span> likes <span class="subject">Joyent</span>
                            </div>
                        </div>
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                content feed
                            </div>

                        </div>
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                content feed
                            </div>
                        </div>
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                content feed
                            </div>
                        </div>
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                content feed
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="span9">
                    <div class="entry-header">
                        search results for: development
                    </div>
                <div class="user-content">
                    <div class="entry-collection">
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                <span class="author">Rayan Bouajram</span> likes <span class="subject">Joyent</span>
                            </div>
                        </div>
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                content feed
                            </div>

                        </div>
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                content feed
                            </div>
                        </div>
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                content feed
                            </div>
                        </div>
                        <div class="entry-node">
                            <div class="entry-type-image"></div>
                            <div class="entry-content">
                                content feed
                            </div>
                        </div>
                    </div>
                </div>



                <div class="user-content">
                    <div id="gallery-collection">
                        <div class="gallery-node">
                            <div class="gallery-type-image"></div>
                            <div class="gallery-content">
                                <span class="author">Rayan Bouajram</span> likes <span class="subject">Joyent</span>
                            </div>
                        </div>
                        <div class="gallery-node">
                            <div class="gallery-type-image"></div>
                            <div class="gallery-content">
                                content feed
                            </div>

                        </div>
                        <div class="gallery-node">
                            <div class="gallery-type-image"></div>
                            <div class="gallery-content">
                                content feed
                            </div>
                        </div>
                        <div class="gallery-node">
                            <div class="gallery-type-image"></div>
                            <div class="gallery-content">
                                content feed
                            </div>
                        </div>
                        <div class="gallery-node">
                            <div class="gallery-type-image"></div>
                            <div class="gallery-content">
                                content feed
                            </div>
                        </div>
                        <div class="gallery-node">
                            <div class="gallery-type-image"></div>
                            <div class="gallery-content">
                                <span class="author">Rayan Bouajram</span> likes <span class="subject">Joyent</span>
                            </div>
                        </div>
                        <div class="gallery-node">
                            <div class="gallery-type-image"></div>
                            <div class="gallery-content">
                                content feed
                            </div>

                        </div>
                        <div class="gallery-node">
                            <div class="gallery-type-image"></div>
                            <div class="gallery-content">
                                content feed
                            </div>
                        </div>
                        <div class="gallery-node">
                            <div class="gallery-type-image"></div>
                            <div class="gallery-content">
                                <span class="author">Rayan Bouajram</span> likes <span class="subject">Joyent</span>
                            </div>
                        </div>
                        <div class="gallery-node">
                            <div class="gallery-type-image"></div>
                            <div class="gallery-content">
                                content feed
                            </div>

                        </div>
                        <div class="gallery-node">
                            <div class="gallery-type-image"></div>
                            <div class="gallery-content">
                                content feed
                            </div>
                        </div>
                        <div class="gallery-node">
                            <div class="gallery-type-image"></div>
                            <div class="gallery-content">
                                content feed
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>



</script>
