<script type="type/ejs" id="templateTermsConditions">

<div class="container">
	<div class="row">
		<div class="span10 offset1" style="color:#fff">
        <h1>Terms of Use</h1>
        <p>
          GitLoved outlines several rules and regulations regarding
          the use of its services. Such rules and regulations as pertaining to
          GitLoved are posted here at <a
            href="/termsconditions">GitLoved</a>.
        </p>
        <p>The GitLoved website is open to the public. You are
          solely responsible for your usage of the GitLoved website and
          any statement you make on the website may be deemed a "publication" of
          the information entered. Acknowledging the foregoing, you specifically
          agree not to use our service in any manner that is illegal or
          libelous.</p>
        <p>Use of all GitLoved services is at your own risk.
          GitLoved specifically disclaims all warranties of
          merchantability and fitness for a particular purpose. In no event
          shall GitLoved be liable for any loss, or loss of data, or
          other commercial damage, including but not limited to special,
          incidental, consequential or other damages. You agree to protect and
          indemnify GitLoved against any and all liability, loss or
          expense arising from claims of libel, unfair competition, unfair
          trademarks, trade names or patents, violations of rights of privacy
          and infringement of copyrights and property rights resulting from your
          use of GitLoved.</p>
        <p>GitLoved reserves the right to refuse service to anyone
          at any time. In no event shall GitLoved be liable for any
          loss, loss of data, or other commercial damage, including but not
          limited to special, incidental, consequential or other damages which
          result from this termination of services.</p>
        <p>User understands and agrees that the City of Durham, North Carolina
          and the County of Durham, North Carolina in which GitLoved is
          located shall be the exclusive forum for any legal action relating to
          GitLoved's services, and the User expressly consents to the
          personal jurisdiction of such court. The aforementioned terms and
          general information are not all inclusive and are subject to change at
          the sole discretion of GitLoved.</p>
        <h2>System And Network Security</h2>
        <p>Violations of system or network security are prohibited, and may
          result in criminal and civil liability. GitLoved will
          investigate incidents involving such violations and may involve and
          will cooperate with law enforcement if a criminal violation is
          suspected. Examples of system or network security violations include,
          without limitation, the following: Unauthorized access to or use of
          data, systems or networks, including any attempt to probe, scan or
          test the vulnerability of a system or network or to breach security or
          authentication measures without express authorization of the owner of
          the system or network. Unauthorized monitoring of data or traffic on
          any network or system without express authorization of the owner of
          the system or network. Interference with service to any user, host or
          network including, without limitation, mailbombing, flooding,
          deliberate attempts to overload a system and broadcast attacks, and
          forging of any TCP-IP packet header or any part of the header
          information in an email.</p>
        <h2>Password Protection</h2>
        <p>User is responsible for protecting User's password, including
          passwords of any connected social website accounts, and for any
          authorized or unauthorized use made of User's password. User will not
          use or permit anyone to use GitLoved's service to guess
          passwords or to access other systems or networks without
          authorization. GitLoved will fully cooperate with law
          enforcement authorities in the detection and prosecution of illegal
          activity.</p>
        <h2>Copyright</h2>
        <p>You are granting full copyright of all
          submitted materials to GitLoved. Furthermore, the
          GitLoved website may only be used for lawful purposes.
          Transmission, distribution, or storage of any information, data or
          material in violation of United States or state regulation or law, or
          by the common law, is prohibited. This includes, but is not limited
          to, material protected by copyright, trademark, trade secret, or any
          other statute. GitLoved will cooperate fully with any civil
          and/or criminal litigation arising from the violation of this policy.</p>
        <h2>Website Responsibility</h2>
        <p>Users have a responsibility to use the GitLoved website
          responsibly. This includes respecting the other Users of
          GitLoved. GitLoved reserves the right to suspend and
          or cancel service with any User who uses the GitLoved website
          in such a way that adversely affects other GitLoved Users.
          This includes but is not limited to: Attacking or attempting to gain
          unauthorized access to the site and services that belong to
          GitLoved or its Users (i.e. computer hacking.) If the event
          becomes a recurring nuisance, sporadically or regularly interrupting
          service to other Users, the account of the User in violation may be
          suspended or terminated. GitLoved will react strongly to any
          use or attempted use of an account without the owner's
          authorization. Such attempts include, but are not limited to,
          "Internet Scanning" (tricking other people into releasing their
          passwords), password robbery, security hole scanning, port scanning
          etc. Any unauthorized use of accounts by a GitLoved User,
          whether or not the attacked account belongs to a GitLoved
          User, will result in severe action taken against the attacker.
          Possible actions include warnings, account suspension or cancellation,
          and civil or criminal legal action, depending on the seriousness of
          the attack. Any attempt to undermine or cause harm to a site, or User,
          of GitLoved is strictly prohibited. Violations of this policy
          may be reported directly to the FBI's Infrastructure Protection &amp;
          Computer Intrusion Squad at
          http://www.fbi.gov/programs/ipcis/ipcis.htm. GitLoved will
          cooperate fully with any civil and/or criminal litigation arising from
          the violation of this policy.</p>
        <h2>Lawful Purpose</h2>
        <p>All services may be used for lawful purposes only. Transmission,
          storage, or presentation of any information, data or material in
          violation of any United States Federal, State or City law is
          prohibited. This includes, but is not limited to: copyrighted material
          or material protected by trade secret and other statute. The User
          agrees to indemnify and hold GitLoved harmless from any
          claims resulting from the use of the service which damages the
          subscriber or any other party.</p>
        <h2>Commercial advertisements (Spam)</h2>
        <p>
          GitLoved takes a zero tolerance approach to the posting of
          unsolicited advertisements or Spam on our site. Very simply this means
          that Users of GitLoved may not use or permit others to use
          our website to transact in Spam. Violations of this policy carry
          severe penalties, including termination of service. Users of
          GitLoved are strictly prohibited from using or permitting
          others to use Spam on GitLoved. Violation of
          GitLoved's Spam policy will result in severe penalties. Upon
          notification of an alleged violation of our Spam policy,
          GitLoved will initiate an immediate investigation (within 48
          hours of notification). During the investigation, GitLoved
          may restrict User access to the site to prevent further violations. If
          User is found to be in violation of our Spam policy, GitLoved
          may, at its sole discretion, restrict, suspend or terminate User's
          account. Further, GitLoved reserves the right to pursue civil
          remedies for any costs associated with the investigation of a
          substantiated policy violation. GitLoved will notify law
          enforcement officials if the violation is believed to be a criminal
          offense.
        </p>
        <h2>Suspension</h2>
        <p>GitLoved reserves the right to suspend site access to
          any User if in the judgment of the GitLoved's website
          administrators the User's actions are the source of the violation of
          any of the other terms of the Policy or for any other reason which
          GitLoved chooses. If inappropriate activity is detected, the
          account of the User in question will be deactivated until an
          investigation is complete. Prior notification to the User is not
          assured. In extreme cases, law enforcement will be contacted regarding
          the activity.</p>
        <h2>Indemnification</h2>
        <p>USER AGREES THAT IT SHALL DEFEND, INDEMNIFY, SAVE AND HOLD
          GITLOVED HARMLESS FROM ANY AND ALL DEMANDS, LIABILITIES, LOSSES,
          COSTS AND CLAIMS, INCLUDING REASONABLE ATTORNEY'S FEES ASSERTED
          AGAINST GITLOVED, ITS AGENTS, ITS USERS, OFFICERS AND EMPLOYEES,
          THAT MAY ARISE OR RESULT FROM ANY ACTION PERFORMED BY USER, ITS
          AGENTS, EMPLOYEES OR ASSIGNS. USER AGREES TO DEFEND, INDEMNIFY AND
          HOLD HARMLESS GITLOVED AGAINST LIABILITIES ARISING OUT OF; (1)
          ANY INJURY TO PERSON OR PROPERTY CAUSED BY ANY PRODUCTS SOLD OR
          OTHERWISE DISTRIBUTED IN CONNECTION WITH THE AWKWARDTURTLE.ME WEBSITE;
          (2) ANY MATERIAL SUPPLIED BY USER INFRINGING OR ALLEGEDLY INFRINGING
          ON THE PROPRIETARY RIGHTS OF A THIRD PARTY OR OTHERWISE VIOLATING ANY
          APPLICABLE LAW; (3) COPYRIGHT INFRINGEMENT AND (4) ANY DEFECTIVE
          PRODUCTS AWARDED TO USER FROM AWKWARDTURTLE.ME.</p>
        <h2>Disclaimer</h2>
        <p>GitLoved will not be responsible for any damages your
          business may suffer. GitLoved makes no warranties of any
          kind, expressed or implied for services we provide. GitLoved
          disclaims any warranty or merchantability or fitness for a particular
          purpose. The services provided by GitLoved are provided AS-IS
          and without any warranty expressed or implied. GitLoved
          reserves the right to revise its policies at any time.</p>
        <p>All Users of GitLoved must adhere to the above
          policies. Failure to follow any term or condition will be grounds for
          immediate cancellation.</p>
        <p id="lastUpdated">This policy was last modified on May 7th,
          2012.</p>

		</div>
	</div>
</div>

</script>